EXPO_PUBLIC_API_URL=http://SEU_IP_LOCAL:3000/api
EXPO_PUBLIC_API_URL_WEB=http://localhost:3000/api
# Use somente durante testes Android via USB com: adb reverse tcp:3000 tcp:3000
EXPO_PUBLIC_API_URL_ANDROID=http://127.0.0.1:3000/api
